/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-size: 2rem;
  text-align: center;
}

#input-canvas,
#output-canvas {
  width: 61rem;
  margin: 0 auto;
}

canvas {
  border: 2px solid black;
  width: 30rem;
  height: 15rem;
  overflow: hidden;
}

.img-container {
    margin-top: 4rem;
}

.controls {
  width: 30rem;
  margin: 1rem auto;
  margin-left: 50rem;
}

button {
  margin: 3rem 6rem;
}


#canvas3 {
  margin: 0 15rem;
}
.action {
  width: 150px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

button {
  background: #b621fe;
  border: none;
  z-index: 1;
}
button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
button:hover {
  color: #fff;
}
button:hover:after {
  left: 0;
  width: 100%;
}
button:active {
  top: 2px;
}
